snippet rec Recursive set
	rec {
		${1:attr} = ${2:value};$0
	}
snippet let A let-expression
	let
		${1:attr} = ${2:value};$0
	in
snippet inherit Inheriting attributes
	inherit ($1) $0
snippet if Conditional
	if $1 then $2 else $0
snippet assert Assertion
	assert $1; $0
snippet with A with-expression
	with $1; $0
snippet a Attribute
	${1:attr} = ${2:value};
