snippet snippet Define a snippet
	snippet ${1:trigger_and_description}
		$0
snippet $ A tab stop with placeholder
	\${${1:1}:${2:default_text}}
snippet ${VISUAL} The VISUAL stop
	\${VISUAL\}
snippet ${TM_SELECTED_TEXT} The currently selected text or the empty string
	\${TM_SELECTED_TEXT}
